<html lan="en">

<head>
  <meta charset="utf-8" />
  <title><%= metaTitle %></title>
  <meta name="description" content="<%= metaDescription %>" />
  <meta name="author" content="Jade" />
  <link rel="icon" type="image/png" href="<%- require('./images/favicon.png') %>" />
  <meta property="og:title" content="<%= metaTitle %>" />
  <meta property="og:description" content="<%= metaDescription %>" />
  <meta property="og:image" content="<%- require('./images/selfie.jpg') %>"/>
  <meta property="twitter:title" content="<%= metaTitle %>">
  <meta property="twitter:description" content="<%= metaDescription %>">
  <meta property="twitter:image" content="<%- require('./images/selfie.jpg') %>">

  <meta property="google-site-verification" content="5sDfPT2mast4eXikctgWycUR-n9GHogTSUGsdn7ZMdI" />

  <meta property="viewport" content="initial-scale=1.0,width=device-width" />
</head>

<body>
  <div id="root" />
  <script src="./bundle.js" type="text/javascript"></script>
</body>

</html>
